/* Main element */ 
body{
    font-family: 'Raleway', sans-serif;
    margin:  0;
    padding: 0;
    text-align: left;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.container{
    min-width: (100%, 1440px);
    margin: auto;
}

a{
    text-decoration: none;
    color: initial;
}

h1 h2 h3{
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

ul {
    list-style-type: none;
}

.fas{
    color: #0065fc;
}

.icon_empty{
    color: #d9d9d9;
}

.price{
    font-weight: 700;
}

#icon_glass{
    display: none;
}

/* Header */
header{
    width: 98%;
    max-width: 1440px;
    min-width: 375px;
    margin: auto auto auto 1.5em;
}
.navigation{
    display: flex;
    justify-content: space-between;
    margin-top: 2em;
}

.navigation ul{
    display: grid;
    justify-content: center;
    margin-right: -3%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "nav_link_accomodation nav_link_activities nav_link_sign-up";  
}

#nav_link_accomodation{
    grid-area: nav_link_accomodation;
}
#nav_link_activities{
    grid-area: nav_link_activities;
}
.navigation #nav_link_sign-up{
    color: #0065fc;
    font-weight: 700;
    margin-left: -25px;
}

#logo{
    margin-left: -1%;
    padding: 0;
    grid-area: logo;
}

.nav_link .line_effect{
    width: 100%;
    height: 3px;
    background: white;
}
  
ul #nav_link_accomodation > .line_effect {
    color: #0065fc;
}
  
.nav_link #nav_link_activities:hover > .line-effect {
    background: #0065fc;
}

#nav_link_sign-up a {
    color: #0065fc;
    border: none;
}
.navigation a {
    color: black;
    text-decoration: none;
    padding: 2.87rem 15px;
    margin-left: 50px;
}
.navigation a:hover{
    color: #0065fc;
}
.navigation a:visited {
    color: #0065fc;
}

.nav_link a:hover{
    border-top: 3px solid #0065fc;
}

#nav_link_activities #nav_link_accomodation a{
    color: black;
}
#nav_link_activities #nav_link_accomodation a:hover{
    color: #0065fc;
}

.navigation .active_link{
    color: #0065fc;
}

/*-- Section 1 --*/

.title_h1{
    font-size: 26px;
    margin-left: -0.5em;
    margin-top: 3.5%;
    margin-bottom: -5px;
}

.subtitle{
    font-size: 17px;
    margin-bottom: 20px;
    margin-left: -0.5em;
}

/*----- Search line -----*/
.search_box{
    display: inline-flex;
    flex-direction: row;
    text-align: center;
    margin: auto 0 28px 1em;

}

#icon_location{
    display: flex;
    align-items: center;
    height: auto;
    background-color: #f2f2f2;
    border-radius: 12px 0 0 12px;
}

.fa-map-marker-alt{
    font-size: 18px;
    padding-left: 20px;
    padding-right: 20px;
    color: #000;
}

.search_box{
    height: 50px;
    width: 250px;
    border: none;
}

.search_bar{
    border: none;
    padding-left: 15px;
    font-size: 16px;
    font-weight: 600;
    border-top: solid 1px #f2f2f2;
    border-bottom: solid 1px #f2f2f2;
}

#search_button{
    border: none;
    border-radius: 0 12px 12px 0;
    background-color: #0065fc;
    color: white;
    font-weight: 700;
    font-size: 16px;
    padding: 15px;
    cursor: pointer;
}

#search_button:hover{
    background-color: #002e74;
    transition: 0.2s;
}

/*----- Filter line -----*/
.filters h3{
    font-size: 22px;
    display: inline;
    margin-left: 0.5em;
}

.filters_ul{
    display: inline-flex;
    flex-flow: row wrap;
    padding-left: 0.7em;
    list-style-type: none;
}

.filters ul li{
    display: inline-flex;
    margin-left: 25px;
    font-size: 19px;
    font-weight: 700;
    align-items: center;
    border: solid 2px #d9d9d9;
    padding: 0 20px 0 0;
    margin-top: 10px;
    border-radius: 100px;
}

.filters ul li:hover {
    cursor: pointer;
    background: #0065fc;
    color: white;
    transition: 0.50s ease-out;
}

.icon_filter{
    background: #deebff;
    color: #0065fc;
    padding: 15px;
    border-radius: 200px;
    margin-right: 15px;
}

/*----- Info line -----*/
.info{
    margin: 9px 0 0 0.5em;
}

.fa-info{
    background: white;
    color: #0065fc;
    size: 3px;
    padding: 7px; 
    text-align: center; 
    border: solid 1px #d9d9d9;   
    width: 15px;
    height: 15px;
    border-radius: 15px;   
}

.info p{
    display: inline-flex;
    margin-left: 10px;
}

/*-- Section 2 --*/
.blocs{
    display: inline-flex;
    margin-top: 25px;
    max-width: 1440px;
}

/*----- Accomodation -----*/

.bloc_accomodation{
    display: grid;
    background: #f2f2f2;
    border-radius: 25px;
    width: 65%;
    min-width: 375px;
    height: 625px;
    
}

.bloc_accomodation .h2_housing_marseille{
    display: inline-flex;
    width: 100%;
    padding-top: 15px;
    margin-left: 40px;
}

.housing_marseille{
    width: 880px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    margin-top: -15px;
}

.items_marseille{
    display: flex;
    flex-direction: column;
    border: solid 5px transparent;
    border-radius: 20px;
    background: white;
    box-shadow: 0px 4px 5px 0 #e2e2e2;
    width: 240px;
    height: 200px; 
    margin-left: -15px; 
}

.items_marseille:hover{
    cursor: pointer;
    transform: scale(1.02);
    transition: ease 0.3s;
}

.items_marseille > .items_marseille_img{
    width: 240px;
    height: 115px;
    background-size: 100% 100%;
    border-radius: 20px 20px 0 0;
}

.items_marseille img{
    width: 100%;
    height: 115px;
    background-size: 100% 100%;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}
.items_text{
    line-height: 8px;
    padding-left: 15px;
    padding-bottom: 8px;
}
.hotel_name{
    font-size: 1.0em;
}

.hotel_price{
    font-size: 0.9em;
}

.ratings{
    display: flex;
    font-size: 80%;
}

.show_more{
    font-size: 1.1em;
    font-weight: 800;
    padding-left: 40px;
}

/*----- Most popular -----*/
.bloc_most_popular{
    background: #f2f2f2;
    border-radius: 25px;
    justify-content: center;
    padding: 0 15px; 
    height: 625px;
    margin-left: 2.4%;
}
.bloc_most_popular .title-h2_icon{
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin-left: 20px;
    margin-top: 25px;
    line-height: 2px;
}

.fa-chart-line{
    color: black;
    font-size: 140%;
    display: inline-flex;
}

.most_popular{
    display: inline-flex;
    flex-direction: row;
    align-content: center;
    width: 90%;
    border: solid 5px transparent;
    border-radius: 20px;
    background: white;
    box-shadow: 0px 5px 5px 0 #e2e2e2;
    margin: auto 25px 25px -10px;
}

.most_popular:hover{
    cursor: pointer;
    transform: scale(1.05);
    transition: ease 0.3s;
}

.most_popular > .most_popular_img{
    width: 128px;
    height: 145px;
    background-size: 100% 100%;
    border-radius: 15px 0 0 15px;
}

.most_popular img{
    width: 100%;
    height: 135px;
    background-size: 100% 100%;
    border-radius: 15px 0 0 15px;
    object-fit: cover;
}

.most_popular p{
    margin-left: 15px; 
}

.most_popular h3{
    padding-left: 15px;
    margin-right: 22px;
}


/*-- Activities --*/
.activities_marseille .title_h2{
    margin-top: 50px;
    margin-bottom: 8px;
}
.activities_marseille ul{
    display: grid;
    justify-content: center;
    width: 1330px;
    height: 450px;
    margin-bottom: 55px;
    margin-top: 8px;
    margin-left: -55px;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: 3fr 0.3fr 0.3fr 0.3fr 0.3fr 3fr;
    grid-gap: 15px;
    grid-template-areas: 
    "activity_1 activity_2 activity_4 activity_5"
    "activity_1 activity_2 activity_4 activity_5"
    "activity_1 activity_2 activity_4 activity_6"
    "activity_1 activity_2 activity_4 activity_6"
    "activity_1 activity_3 activity_4 activity_6"
    "activity_1 activity_3 activity_4 activity_6";
}

.activities_marseille .items_activity{
    position: relative;
    width: 305px;
    height: 100%;
    border-radius: 20px;
    box-shadow: 2px 2px 15px -5px lightgrey;
}

.activities_marseille .items_activity:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: ease 0.5s;
}
  
.activity_img{
    object-fit: cover;
    width: 100%;
    height: 95%;
    border-radius: 20px;
    margin: 0;
    
}

.title_activity{
    position: absolute;
    width: 95%;
    font-size: 1.0;
    background-color: white;
    border-radius: 0 0 20px 20px;
    padding: 20px 0 20px 5%;
    margin: 0;
    bottom: 0;
}

.activity_1 {
    grid-area: activity_1;
  }
.activity_2 {
    grid-area: activity_2;  
  }
.activity_3 {
    grid-area: activity_3;
  }
.activity_4 {
    grid-area: activity_4;
  }
.activity_5 {
    grid-area: activity_5;
  }
.activity_6 {
    grid-area: activity_6;
  }
  

/*-- Footer --*/
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f2f2f2;
    width: 100%;
}

.bloc_footer{
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1440px;
    margin-top: 25px;
    margin-bottom: 30px;
    padding-left: 5%;
}

.foot_link:hover{
    text-decoration: underline;
}

.bloc_footer p{
    line-height: 14px;
}

.about .housings .assistance{
    display: flex;
    flex-flow: column wrap;
}

.assistance{
    margin-right: 25%;
}

/* ----- Media Queries ----- */
@media screen and (max-width: 1440px){
    .container{
        display: block;
        width: 97%;
    }
    header, .hero{
        margin-left: 2%;
    }
    .navigation{
        width: 97%;
    }
    #logo{
        margin-left: 1%;
    }
    .blocs{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 3fr;
        row-gap: 3%;
        grid-template-areas: 
        "bloc_most_popular"
        "bloc_accomodation";
    }
    .blocs .bloc_accomodation{
        grid-area: bloc_accomodation;
    }
    .blocs .bloc_most_popular{
        grid-area: bloc_most_popular;
    }
    .bloc_most_popular{
        width: 92%;
        height: 100%;
        margin-top: 1.5%;
    }
    .most-populars .title-h2_icon{
        width: 97%;
    }
    
    .most-populars ul{
        display: flex;
        justify-content: space-between;
    }

    .most_popular{
        min-width: 93%;
        height: 80%;
    }

    .most_popular > .most_popular_img{
        height: auto;
    }
    
    .bloc_accomodation{
      width: 95%;
      margin-left: 1.5em;
    }

    .housing_marseille{
        width: 98%;
        justify-content: space-evenly;
        margin-left: 1.5%;
    }

    .items_marseille{
        display: flex;
        width: 80%;
        height: 175px;
    }


    .items_marseille > .items_marseille_img{
        width: 100%;
        height: 100px;
        background-size: cover;
    }

    .activities_marseille{
      width: 98%;
      margin-top: -25rem;
      margin-bottom: 12%;
      padding-top: 5%;
    }

    .activities_marseille ul{
        display: grid;
        width: 98%;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "activity_1 activity_2 activity_4"
        "activity_5 activity_3 activity_6";
    }

    .activities_marseille .items_activity{
        display: block;
        width: 90%;
        height: 240px;
    }

    #title_activities{
        margin-left: 3%;
    }

  #activity_1 {
    grid-area: activity_1;
  }
  #activity_2 {
    grid-area: activity_2;
  }
  #activity_3 {
    grid-area: activity_3;
  }
  #activity_4 {
    grid-area: activity_4;
  }
  #activity_5 {
    grid-area: activity_5;
  }
  #activity_6 {
    grid-area: activity_6;
  }
  .most-popular-case-img img {
    min-width: 80px;
  }

  .bloc_footer{
    padding-left: 3.5%;
}
}  

@media screen and (max-width: 1200px) {
    main {
      width: 96%;
    }
    .filters_ul{
        margin-left: -3%;
    }
    .activities_marseille{
        margin-bottom: 9em;
    }
}

@media screen and (max-width: 900px) {
    main {
      width: 94%;
    }
   
    .bloc_accomodation{
        height: 52%;
        width: 96%;
        margin-left: 1rem;
    }
    
    .housing_marseille{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        padding-left: 5%;
    }

    .items_marseille{
        width: 90%;
        height: auto;
        margin-left: -25px;
    }
    .bloc_most_popular{
        display: block;
        height: 100%;
    }

    .bloc_most_popular .most-populars ul{
        display: block; 
    }

    .most_pop li{
        height: 150px;
    }
    .most-populars .most_popular_img{
        width: 35%;
    }
    .activities_marseille{
        margin-top: -49rem;
        margin-left: 0.2rem;
        margin-bottom: -7rem;
    }
     .activities_marseille ul{
         display: grid;
         grid-template-columns: 1fr 1fr;
         grid-template-rows: 1fr 1fr 1fr;
         margin: 0 10px 550px 0px;
         grid-template-areas: 
         "activity_1 activity_2"
         "activity_4 activity_3"
         "activity_5 activity_6";
        width: 102%;
        
     }
    .items_activity{
        width: 102%;
        margin-left: -5%;
    }
    .bloc_footer{
        margin-left: 3%;
    }
    .housings{
        padding-left: 5em;
        margin-right: 4em;
    }
}

@media screen and (max-width: 620px){
    .main{
        width: 92%;
    }
    
    .navigation{
        margin-bottom: 7%;
    }
 
    .navigation ul{
        display: grid;
        width: 90%;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        " .  nav_link_sign-up"
        "nav_link_accomodation nav_link_activities";  
    }
    #nav_link_sign-up{
        grid-area: nav_link_sign-up;
        padding-left: 55px;
    }
    .navigation a {
        padding: 0.95rem 0;
    }
   
    .navigation #nav_link_accomodation{
        grid-area: nav_link_accomodation;
        margin-top: 9%;
        margin-right: 4rem;
        margin-left: -10em;
    }
    #nav_link_activities{
        grid-area: nav_link_activities;
        margin-top: 9%;
    }
    .nav_link a:hover{
        border-top: hidden;
        border-bottom: 3px solid #0065fc;
    }
    .title_h1{
        font-size: 21px;
        margin: 0 15% 0 0;
    }
    .subtitle{
        margin-left: 0;
    }
    .search_box{
        width: 98%;
        height: 48px;
        margin-left: 0.2em;
        margin-top: 4%;
    }
    .search_bar{
        width: 280px;
        height: 44px;
    }

    #search_button{
        display: none;
    }
    #icon_glass{
        display: block;
        font-size: 18px;
        color: white;
        background-color: #0065fc;
        padding: 16px;
        margin-left: -0.5em;
        border: transparent;
        border-radius: 15px;
    }
  
    .filters ul li{
        padding: 0 14px 0 0;
        font-size: 16px; 
        margin-left: 2%; 
    }

    .info{
        display: flex;
        align-items: top;
        margin-top: 15px;
        margin-right: -6%;
    }
    
    .info p{
        display: flex;
        font-size: 1em;
        margin: 7px auto auto 10px;
    }
    .info .fa-info{
        font-size: 80%;
        padding: 9px;   
        height: 10px; 
    }

    .bloc_most_popular{
        width: 108%;
        margin-left: -1.2rem;
        border-radius: 0;
    }
    .most-populars .title-h2_icon{
        width: 90%;
    }
    .most-populars ul{
        display: flex;
        flex-direction: column;
        width: 90%;
    }
    .most-populars ul li{
        height: 200px;
    }

    .bloc_accomodation{
        background-color: #fff;
        border-radius: 0;
        margin-top: -15%;
    }
    .bloc_accomodation .h2_housing_marseille{
        margin-left: -1.5%;
    }
    .housing_marseille{
        display: grid;
        width: auto;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
    }

    .items_marseille{
        width: 100%;
    }
    .housing_marseille .items_marseille_img{
        width: 100%;
    }

    .activities_marseille{
        width: 100%;
        margin-left: 2%;
        margin-top: -36rem;
        margin-bottom: -32rem;
    }
    .activities_marseille ul{
        display: grid;
        justify-content: center;
        width: 100%;
        height: auto;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
        grid-template-areas: 
        "activity_1"
        "activity_2"
        "activity_3"
        "activity_4"
        "activity_5"
        "activity_6";
    }
    .footer{
        width: 110%;
    }
    .bloc_footer{
        display: inline-flex;
        flex-direction: column;
        margin-left: 5%;
    }
    .bloc_footer .housings{
        padding-left: 0rem;
    }
}

@media screen and (max-width: 440px){
    body{
        margin-left: 0;
    }
    .main{
        margin-left: -2%;
    }
    .navigation ul{
        width: 80%;
    }
    #nav_link_sign-up{
        padding: 0;
        margin-left: -15px;
    }
    #nav_link_accomodation{
        margin-left: -25px;
        padding-top: 4px;
    }
    #nav_link_activities{
       margin-left: -60px;
       padding-top: 6px;
        
    }
    .bloc_most_popular{
        width: 97%;
        border-radius: 0;
    }
    .most-populars .title-h2_icon{
        font-size: 0.9em;
        justify-content: left;
    }
    .most-populars h2{
        padding-right: 30%;
    }
    .most-populars ul{
        display: flex;
        flex-direction: column;
        max-width: 82%;
    }
   
    .bloc_accomodation{
        margin-top: -20%;
    }
    .items_marseille{
        width: 90%;
    }
    .show_more{
        padding-left: 2%;
    }
   
}